page2/page2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="body">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="head">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="meta" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ul">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="li">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="link" type="xs:string" />
													<xs:element minOccurs="0" name="ul">
														<xs:complexType>
															<xs:sequence>
																<xs:element maxOccurs="unbounded" name="li">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="link" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="id" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="block1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="img">
								<xs:complexType>
									<xs:attribute name="fileref" type="xs:string" use="required" />
									<xs:attribute name="width" type="xs:string" use="required" />
									<xs:attribute name="depth" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="block2">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="img">
								<xs:complexType>
									<xs:attribute name="fileref" type="xs:string" use="required" />
									<xs:attribute name="width" type="xs:string" use="required" />
									<xs:attribute name="depth" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="block3">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="img">
								<xs:complexType>
									<xs:attribute name="fileref" type="xs:string" use="required" />
									<xs:attribute name="width" type="xs:string" use="required" />
									<xs:attribute name="depth" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="block4">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="p" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="table">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="tgroup">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="tbody">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="title1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="text" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="wiersz1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tresc">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="text" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="wiersz2">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tresc">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="text" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="wiersz3">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tresc">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="text" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="wiersz4">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="tresc">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="text" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="cols" type="xs:unsignedByte" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="frame" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
				<xs:element name="footer">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="name" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>